.car {
  -webkit-animation-name: car;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: .5s;

}

@-webkit-keyframes car {
  0% { -webkit-transform: translateX(0px); }
  50% { -webkit-transform: translateY(4px) translateX(0px); }
  100% { -webkit-transform: translateX(0px); }
}


@-webkit-keyframes copcar {
  0% { -webkit-transform: translateX(0px); }
  100% { -webkit-transform: translateX(-1400px); }
}

.lane {
  -webkit-animation-name: lane;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: .05s;
}

.slow .lane {
  -webkit-animation-duration: .1s;
}

@-webkit-keyframes lane {
  0% { background-position:0px 0px;}
  100% { background-position:-30px 0px;}
}

.game-over {
    -webkit-animation-name: arrest;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: .6s;

}

@-webkit-keyframes arrest{
  0% { background-color: #00f;}
  100% { background-color: #f00;}
}

.instructions {
    -webkit-animation-name: instructions;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 4s;
    opacity: 0;
  }

@-webkit-keyframes instructions{
  0% { opacity: 0;}
  10% { opacity: 1;}
  100% { opacity: 0;}
}
