body {
  background: black;
}

.world {
  border: solid 10px #222;
  width: 1000px;
  height: 500px;
  background: #DDD;
  margin: 0 auto;
  margin-top: 80px;
  position: relative;
  overflow: hidden;
}

.world.slow {
  border: solid 10px #555;
}

.sky {
  height: 200px;
  background: #8dcfea;
  position: absolute;
  top: 0px;
  width: 100%;
}

.buildings {
  width: 100%;
  height: 180px;
  background: #BBB;
  position: absolute;
  top: 150px;
}

.road {
  height: 80px;
  background: #222;
  position: absolute;
  width: 100%;
  top: 360px;
  
}

.lane {
  height: 5px;
  position: absolute;
  top: 38px;
  background: #777;
  width: 100%;
  background: url(lane.png) repeat-x;
}
  
.car {
  width: 120px;
  height: 80px;
  top: -60px;
  left: 250px;
  position: absolute;
  background: red;
}

.cop-car {
  width: 120px;
  height: 80px;
  bottom: 40px;
  right: -120px;
  position: absolute;
  background: blue;
}
