body {
  background: black;
}

.world {
  border: solid 10px #222;
  width: 1000px;
  height: 500px;
  background: #DDD;
  margin: 0 auto;
  margin-top: 80px;
  position: relative;
  overflow: hidden;
}

.world.slow {
  border: solid 10px #555;
}

.sky {
  height: 200px;
  background: #8dcfea;
  position: absolute;
  top: 0px;
  width: 100%;
}

.buildings {
  width: 100%;
  height: 180px;
  background: #BBB;
  position: absolute;
  top: 150px;
}

.road {
  height: 80px;
  background: #222;
  position: absolute;
  width: 100%;
  top: 360px;

}

.lane {
  height: 5px;
  position: absolute;
  top: 38px;
  background: #777;
  width: 100%;
  background: url(lane.png) repeat-x;
}

.car {
  width: 150px;
  height: 120px;
  top: -55px;
  left: 250px;
  position: absolute;
  background: red;
  background: top left url(assets/images/bus.png) no-repeat;
  background-size: 100%;
  z-index: 999999;
}

.cop-car {
  width: 120px;
  height: 80px;
  bottom: 40px;
  right: -120px;
  position: absolute;

  z-index: 1000;
}

.cop-car .sprite {
  position: absolute;
  width: 100%;
  height: 100%;
  background: top left url(assets/images/cops.png) no-repeat;
  background-size: 100%;
  z-index: 99999;
}

.cop-car .slow-zone {
  position: absolute;
  width: 500px;
  top: -20px;
  height: 80px;
  opacity: .5;
  left: -200px;
  background: #7caee6;
  z-index: 500;
}

.game-over{
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #f00;
  opacity: 0.85;

  z-index: 100;

  text-align: center;
  line-height: 500px;

  font-size: 80px;

  font-family: Arial;

  color: #f00;
  z-index: 9999999;
}

